.footerListTitle {
  margin: 3px 0px;
}

.footerList {
  list-style-type: none;
  padding-inline-start: 1rem;
  margin: 0px;
}

.footerLink {
  text-decoration: none;
  color: #404040;
}

.footerLink:hover {
  text-decoration: underline;
}