.header {
  font-size: 55px;
  font-weight: bold;
  color: white;
}

.header h1 {
  font-size: 60px;
  font-family: 'M PLUS Rounded 1c';
}

.headerButton {
  background: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.headerButton:hover {

}