.bgSuccess {
  background: lightgreen;
}

.bgFailed {
  background: lightpink;
}

.bgPlaying {
  background: yellow;

  span {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

@keyframes anim_sc {
  100% {
    transform: scale(1.7, 1.7);
  }
}

.playingAnimation {
  transform: scale(1.4, 1.4);
  animation-name: anim_sc;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.0s;
}