[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 -m flask run"
test = "pytest"
db_init = "python3 -m flask db init"
db_migrate = "python3 -m flask db migrate"
db_upgrade = "python3 -m flask db upgrade"
db_import = "python3 manage.py import_data"

[packages]
certifi = "==2020.6.20"
chardet = "*"
click = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
marshmallow = "*"
oauthlib = "*"
PyJWT = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
SQLAlchemy = "*"
urllib3 = "*"
Werkzeug = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
mysqlclient = "*"
python-dotenv = "*"
more-itertools = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.7"
