container_commands:
    00_setup:
        command: "python3 -m pipenv install"
    01_init_db:
        command: "python3 -m pipenv run db_init"
        ignoreErrors: true
    02_migrate_db:
        command: "python3 -m pipenv run db_migrate"
    03_upgrade_db:
        command: "python3 -m pipenv run db_upgrade"
    04_import_data:
        command: "python3 -m pipenv run db_import"