.string {
  font-style: italic;
  font-weight: bold;
}

.list {
  li {
    padding: 0.2rem 0rem;
    //text-indent:  -1rem;
  }
}

//.buttonPropertyList {
//  list-style-type: none;
//  padding-left: 0px;
//  li {
//    padding-left: 0.5rem;
//    text-indent: -1rem;
//  }
//}