.numberPropertyList {
  list-style-type: none;
  li {
    padding-left: 0rem;
    text-indent:  -1rem;
  }
}

.buttonPropertyList {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-left: 0.5rem;
    text-indent: -1rem;
  }
}

.list {
  li {
    padding: 0.2rem 0rem;
    //text-indent:  -1rem;
  }
}